<div class="center">
  <table border="5" width="50%">
    <tr>
      <th colspan="3">
        <h3><br>Zzz Stats</h3>
      </th>
    </tr>
    <tr>
      <th>Date</th>
      <th>Hours Slept</th>
      <th>Delete</th>
    </tr>
    <% @sleep_stats.each do |stat| %>
      <tr>
        <td><%= stat.clean_time%></td>
        <td><%= stat.hours %></td>
        <td><%= link_to "Remove" %></td>
      </tr>
    <% end %>
</div>
