// * { outline: 1px solid pink; }
.center {
  display: block;
  width: 700px;
  margin: 0 auto;
}

.sub-center {
  display: block;
  width: 300px;
  margin: 0 auto;
}

body {
  font-family: Futura, sans-serif;
  //background-color: #EFEBEA;
  background-color: #f7f4ef;
}

.name {
  color: #352c23;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

th.header {
  font-size: 20px;
}

td {
  text-align: center;
  width: 33.33%;
}

table {
  margin-top: 60px;
}

.sub-center:before {
  content: "";
  display: block;
  height: 20px;
}

.error {
  text-align: center;
  color: red;
}

.sub-center form {
  margin-left: 30px;
}

img {
  padding-top: 25px;
}

tr.update {
  display: none;
}

form {
  display: inline-block;
}

.btn {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box; display: inline-block;
    -webkit-appearance: push-button;
    -webkit-user-select: none;
    white-space: pre;
    font-size: small;
}
